<div class="container-fluid">
    <h3 class="float-left">Allotments</h3><select [(ngModel)]="selectedstateData" (change)="changeStateOption()">
        <option value="{{item.key}}" *ngFor="let item of data | keyvalue">{{item.key}}</option>
    </select>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;" *ngFor="let item of data[selectedstateData]">
                    <a (click)="filterData(item.id)">
                        <div class="card-body">
                            <p class="card-text">{{item.name}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-nowrap">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Round</th>
                    <th scope="col">Rank</th>
                    <th scope="col">Quota</th>
                    <th scope="col">Sate</th>
                    <th scope="col">Category</th>
                    <th scope="col">Institutes</th>
                    <th scope="col">Courses</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer border-0 py-5"> <span class="text-muted text-sm">Showing 10 items out of 250 results
            found</span> </div>
</div>